<section class="grid grid-3col">
  
   

    <fieldset class="grid-span-3 resource flexcol" >
      <legend class="flexcol-legend">Twoja Postać</legend>
      <div class="resource flexrow">
    <label for="system.age" class="resource-label">Wiek</label>
    <div class="resource-content flexrow">
      <input type="text" name="system.age" value="{{system.age}}" data-dtype="String"/>
    </div>
  </div>

  <div class="resource grid-span-2 flexrow">
    <label for="system.pronouns" class="resource-label">Zaimki</label>
    <div class="resource-content flexrow">
      <input type="text" name="system.pronouns" value="{{system.pronouns}}" data-dtype="String"/>
    </div>
  </div>
  
    <div class="resource grid-span-2 flexrow">
      <label for="system.trope" class="resource-label">Archetyp</label>
      <div class="resource-content flexrow">
      <input type="text" name="system.trope" value="{{system.trope}}" data-dtype="String"/>
      </div>
    </div>


  <div class="resource grid-span-3 flexrow">
    <label for="system.fear" class="resource-label">Lęk</label>
    <div class="resource-content flexrow">
      <input type="text" name="system.fear" value="{{system.fear}}" data-dtype="String"/>
    </div>
  </div>

  <div class="resource grid-span-3 flexrow">
    <label for="system.motivation" class="resource-label">Motywacja</label>
    <div class="resource-content flexrow">
      <input type="text" name="system.motivation" value="{{system.motivation}}" data-dtype="String"/>
    </div>
  </div>

  <div class="resource grid-span-3 flexrow">
    <label for="system.description" class="resource-label">Opis</label>
    <div class="resource-content flexrow">
      <input type="text" name="system.description" value="{{system.description}}" data-dtype="String"/>
    </div>
  </div>

  <div class="resource grid-span-3 flexrow">
    <label for="system.grade" class="resource-label">Poziom nauczania</label>
    <div class="resource-content flexrow">
      <input type="text" name="system.grade" value="{{system.grade}}" data-dtype="String"/>
    </div>
  </div>
  <div class="resource grid-span-3 flexrow">
    <label for="system.house" class="resource-label">Dom</label>
    <div class="resource-content flexrow">
      <input type="text" name="system.house" value="{{system.house}}" data-dtype="String"/>
    </div>
  </div>
</fieldset>
  <fieldset class="grid-span-3 resource flexcol" >
    <legend class="flexcol-legend">Twoja Miotła</legend>
    <div class="resource flexrow" >
      <label for="system.broom.name" class="resource-label">Nazwa</label>
      <input type="text" name="system.broom.name" value="{{system.broom.name}}" data-dtype="String"/>
    </div>
    <div class="resource flexrow" >
      <label for="system.broom.look" class="resource-label">Wygląd</label>
      <input type="text" name="system.broom.look" value="{{system.broom.look}}" data-dtype="String"/>
    </div>
    <div class="resource flexrow" >
      <label for="system.broom.mechanicalbenifit" class="resource-label">Korzyści mechaniczne:</label>
      <input type="text" name="system.broom.mechanicalbenifit" value="{{system.broom.mechanicalbenifit}}" data-dtype="String"/>
    </div>
  </fieldset>
  <fieldset class="grid-span-3 resource flexcol">
    <legend class="flexcol-legend">Twoja Różdżka</legend>
    <div class="resource flexrow" >
      <label for="system.wand.core" class="resource-label">Rdzeń</label>
      <input type="text" name="system.wand.core" value="{{system.wand.core}}" data-dtype="String"/>
    </div>
    <div class="resource flexrow" >
      <label for="system.wand.wood" class="resource-label">Drewno</label>
      <input type="text" name="system.wand.wood" value="{{system.wand.wood}}" data-dtype="String"/>
    </div>
  </fieldset>
  <fieldset class="grid-span-3 resource flexcol">
    <legend class="flexcol-legend">Twój Chowaniec</legend>
    <div class="resource flexrow" >
    <label for="system.animalfamiliar" class="resource-label">Gatunek</label>
    <input type="text" name="system.animalfamiliar.spiecies" value="{{system.animalfamiliar.spiecies}}" data-dtype="String"/>
    </div>
    <div class="resource flexrow" >
     <label for="system.animalfamiliar" class="resource-label">Imię</label>
    <input type="text" name="system.animalfamiliar.name" value="{{system.animalfamiliar.name}}" data-dtype="String"/> 
    </div>
    </fieldset>
  
</section>