<form class="{{cssClass}} {{actor.type}} flexcol theme-wrapper" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>    
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Główna</a>
    <a class="item" data-tab="schoolbag">Tornister</a>
    <a class="item" data-tab="strengths">Zalety</a>
    <a class="item" data-tab="trope">Pytania z archetypu</a>
    <a class="item" data-tab="Lesson_plan">Plan Lekcji</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <section class="main grid-span-2">
          {{> "systems/kidsonbrooms-BB/templates/actor/parts/actor-features.hbs"}}
          {{> "systems/kidsonbrooms-BB/templates/actor/parts/actor-adversity.hbs"}}
        </section>

        <aside class="sidebar">
          
          {{> "systems/kidsonbrooms-BB/templates/actor/parts/actor-stats.hbs"}}
          
        </aside>

      </section>
    </div>
    {{!-- Schoolbag Tab --}}
    <div class="tab features" data-group="primary" data-tab="schoolbag">
      {{editor schoolbagValue
        button=true
	      editable=editable
	      owner=owner
	      target="system.schoolbag"
       }}
    </div>

    {{!-- Strengths Tab --}}
    <div class="tab features" data-group="primary" data-tab="strengths">
      {{editor strengthsValue target="system.strengths" button=true owner=owner editable=editable}}
    </div>

    {{!-- Trope Questions Tab --}}
    <div class="tab features" data-group="primary" data-tab="trope">
      {{editor tropequestionsValue target="system.tropequestions" button=true owner=owner editable=editable}}
    </div>
    {{!-- Lesson_plan Questions Tab --}}
    <div class="tab features" data-group="primary" data-tab="Lesson_plan">
        {{> "systems/kidsonbrooms-BB/templates/actor/parts/actor-lesson_plan.hbs"}}
    </div>
  </section>
</form>

